# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# the following lists need not be exhaustive but should at least include the worst offenders (i.e., largest directories)

.github

fegui/build
fegui/node_modules

**/.bloop
**/.metals
**/target
