name: Test

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ main ]

jobs:
#  npm:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v6
#    - name: Set up Node.js 24
#      uses: actions/setup-node@v6
#      with:
#        node-version: '24'
#        cache: 'npm'
#        cache-dependency-path: fegui/package-lock.json
#    - name: Clean install with npm
#      run: npm ci
#      working-directory: fegui
#    - name: Test with npm
#      run: npm test
#      working-directory: fegui
  sbt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '25'
    - uses: sbt/setup-sbt@v1
    - name: Test with sbt
      run: sbt test
      working-directory: beapi
